<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
       <title>User Edit</title>
    </head>
    <body>
        <h1>Edit User {{user.id}}</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/users/update" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{user.id}}">
            <p>First Name: <input type="text" name="first_name" value="{{user.first_name}}"></p>
            <p>Last Name: <input type="text" name="last_name" value="{{user.last_name}}"></p>
            <p>Email: <input type="text" name="email", value="{{user.email}}"></p>
            <input type="submit" value="Update">
        </form>
        <p><a href="/users/{{user.id}}">Show</a> | <a href="/">Go Back</a></p>
    </body>
</html>